table {
    margin: 2rem 0rem 0rem 2rem;
    width: 100%;
  }
  .employee-select-checkbox {
    padding-left: 10px;
    width: 5%;
  }

  .table-div {
    width: 80%;
  }

  .button-div {
    display: flex;
    justify-content: flex-end;
  }